@layout AuthLayout
@page "/account/register"
@using HRManager.Common.Dtos
@using HRManager.Common.Auth
@using HRManager.Blazor.Services
@using HRManager.Blazor.Pages.Account.Registration
@inject NavigationManager _nav
@inject IRegistrationService _regService

@code {
    public enum RegistrationType
    {
        MemberSelf,
        MemberAdmin,
        StaffAdmin
    }

    [Parameter]
    public EventCallback<bool?> AlertRegistrationAttempt { get; set; }

    [Parameter]
    public RegistrationType Type { get; set; }

    // must create instance of model to be bound*******
    private MemberRegisterDto mainDto = new MemberRegisterDto();
    private bool isSuccessful;
    private int currentSection = 1;
    private bool loadingSubmission = false;
    private bool ShowErrors;
    private int test;
    private IEnumerable<string> Errors;

    private async Task SubmitRegistration()
    {
        loadingSubmission = true;
        if (Type == RegistrationType.StaffAdmin)
        {
            mainDto.Account.IsStaff = true;
        }
        else
        {
            mainDto.Account.IsStaff = false;
        }
        currentSection++;
        isSuccessful = await _regService.Register(mainDto);
        loadingSubmission = false;

        if (AlertRegistrationAttempt.HasDelegate)
        {
            await AlertRegistrationAttempt.InvokeAsync(isSuccessful);
        }
    }

    private async Task TestRegistration()
    {
        mainDto.Account.Email = "test@email.com";
        mainDto.Account.Password = "P@$$W0rd";
        mainDto.Account.ConfirmPassword = "P@$$W0rd";
        mainDto.Personal.FirstName = "Test First";
        mainDto.Personal.LastName = "Test last";
        mainDto.Personal.Address = "test address";
        mainDto.Personal.City = "test city";
        mainDto.Personal.MainPhone = "5555555555";
        mainDto.Personal.Birthdate = DateTime.Now;
        mainDto.Personal.EmergencyPhone1 = "5555555555";
        mainDto.Personal.EmergencyRelationship = "test relationship";
        mainDto.Personal.EmergencyFullName = "test emerg name";
        mainDto.Personal.PostalCode = "t5t5t5";

        loadingSubmission = true;
        currentSection = 7;
        isSuccessful = await _regService.Register(mainDto);
        loadingSubmission = false;
    }

    private void HandleSectionCompleted()
    {
        // if a staff member is being registered, skip positions section
        if (Type == RegistrationType.StaffAdmin && currentSection == 2)
        {
            currentSection += 2;
        }
        else
        {
            currentSection++;
        }

        StateHasChanged();
    }

    private void HandlePreviousSectionRequested()
    {
        // if a staff member is being registered, skip positions section
        if (Type == RegistrationType.StaffAdmin && currentSection == 4)
        {
            currentSection -= 2;
        }
        else
        {
            currentSection--;
        }

        StateHasChanged();
    }
}

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in Errors)
        {
            <p>@error</p>
        }
    </div>
}

@switch (currentSection)
{
    case 0:
        _nav.NavigateTo("/");
        break;
    case 1:
        <AccountCreds Type="Type" @bind-AccountData="mainDto.Account" SectionCompleted="HandleSectionCompleted" PreviousSectionRequested="HandlePreviousSectionRequested" />
        break;
    case 2:
        <PersonalAndContact Type="Type" @bind-PersonalData="mainDto.Personal" SectionCompleted="HandleSectionCompleted" PreviousSectionRequested="HandlePreviousSectionRequested" />
        break;
    case 3:
        <PreferredPositions Type="Type" @bind-PositionSelection="mainDto.Positions" SectionCompleted="HandleSectionCompleted" PreviousSectionRequested="HandlePreviousSectionRequested" />
        break;
    case 4:
        <Availability Type="Type" @bind-AvailabilitiesData="mainDto.Availabilities" SectionCompleted="HandleSectionCompleted" PreviousSectionRequested="HandlePreviousSectionRequested" />
        break;
    case 5:
        <Qualifications Type="Type" @bind-QualificationsData="mainDto.Qualifications" SectionCompleted="HandleSectionCompleted" PreviousSectionRequested="HandlePreviousSectionRequested" />
        break;
    case 6:
        <Certificates Type="Type" @bind-CertData="mainDto.Certificates" SectionCompleted="SubmitRegistration" PreviousSectionRequested="HandlePreviousSectionRequested" />
        break;
    case 7:
        if (loadingSubmission)
        {
            <p>Waiting for your application to be verified...</p>
        }
        else
        {
            <Result IsSuccessful="isSuccessful" />
        }
        break;
}
<RegisterSectionButtonContainer PreviousSectionRequested="HandlePreviousSectionRequested" Progress="@currentSection" />

<button @onclick="TestRegistration">Test Registration</button>
