@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@layout MainLayout

<h3>AdminLayout</h3>

@code {
    [CascadingParameter]
    private RenderFragment PageMenu { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }

    private AdminMemberDto Admin { get; set; }

    private void OnPageChanged(RenderFragment pageMenu)
    {
        PageMenu = pageMenu;
    }
}

<CascadingValue Value="Admin">
    <div class="page">
        <div class="sidebar">
            <AdminNavMenu PageChanged="OnPageChanged" />
        </div>
        <div class="main">
            @Body
        </div>
    </div>
</CascadingValue>