@namespace HRManager.Blazor.Shared

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">HRManager.Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/dashboard">
                <i class="fas fa-tachometer-alt" aria-hidden="true"></i> &nbsp Dashboard
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/alerts">
                <i class="fas fa-exclamation-circle" aria-hidden="true"></i> &nbsp Alerts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/members">
                <i class="fas fa-users" aria-hidden="true"></i> &nbsp Team
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/calendar">
                <i class="fas fa-calendar-alt" aria-hidden="true"></i> &nbsp Calendar
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="admin/timesheet">
                <i class="fas fa-clock" aria-hidden="true"></i> &nbsp Timesheet
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
