@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@namespace HRManager.Blazor.Pages.Shared
@inject NavigationManager _nav
@inject HRManager.Blazor.Services.TokenProvider _tokenProvider

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }
    private string currentPage = "Members";
    private string navMenuType;

    protected override async Task OnInitializedAsync()
    {

        var user = (await authState).User;

        // if user isn't authenticated, redirect them to login
        if (!user.Identity.IsAuthenticated)
        {
            _nav.NavigateTo($"/account/login?redirectUri={_nav.Uri}", true);
        }

        // if they are, determine what role they're in and redirect them accordingly
        if (user.IsInRole("Admin") || user.IsInRole("SuperAdmin"))
        {
            navMenuType = "admin";
        }
        else if (user.IsInRole("Member"))
        {
            navMenuType = "member";
        }
    }

    private void OnPageChanged(string pageName)
    {
        currentPage = pageName;
    }
}

<AuthChecker />

<div class="page">
    <div class="sidebar">
        @if (navMenuType == "admin")
        {
            <AdminNavMenu PageChanged="OnPageChanged" />
        }
        else if (navMenuType == "member")
        {
            <MemberNavMenu />
        }
    </div>
    <div class="main">
        <form action="/account/logout" method="post" class="top-row px-4">
            <span class="font-weight-bold my-auto">@currentPage</span>
            @*<button type="submit" class="ml-md-auto">Logout</button>*@
            <a href="/account/logout" class="ml-md-auto">Logout</a>
            <input type="hidden" name="_RequestVerificationToken" value="@_tokenProvider.XsrfToken" />
        </form>

        @Body

    </div>
</div>
