@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Blazored.Modal
@namespace HRManager.Blazor.Pages.Shared
@inject NavigationManager _nav
@inject HRManager.Blazor.Services.TokenProvider _tokenProvider

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }

    [CascadingParameter]
    private RenderFragment PageMenu { get; set; }


    private string currentPage;
    private string navMenuType;

    protected override async Task OnInitializedAsync()
    {

        var user = (await authState).User;

        // if user isn't authenticated, redirect them to login
        if (!user.Identity.IsAuthenticated)
        {
            _nav.NavigateTo($"/account/login?redirectUri={_nav.Uri}", true);
        }

        // if they are, determine what role they're in and redirect them accordingly
        if (user.IsInRole("Admin") || user.IsInRole("SuperAdmin"))
        {
            navMenuType = "admin";
            currentPage = "Members";
        }
        else if (user.IsInRole("Member"))
        {
            navMenuType = "member";
            currentPage = "Information";
        }
    }

    private void OnPageChanged(RenderFragment pageMenu)
    {
        PageMenu = pageMenu;
    }
}

<AuthChecker />

<div class="page">
    <div class="sidebar">
        @if (navMenuType == "admin")
        {
            <AdminNavMenu PageChanged="OnPageChanged" />
        }
        else if (navMenuType == "member")
        {
            <MemberNavMenu PageChanged="OnPageChanged" />
        }
    </div>
    <div class="main">
        @Body
    </div>
</div>
