@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }
    private string currentPage = "Members";
    private string navMenuType;

    protected override async Task OnInitializedAsync()
    {
        var user = (await authState).User;

        if (user.IsInRole("Admin") || user.IsInRole("SuperAdmin"))
        {
            navMenuType = "admin";
        }
        else if (user.IsInRole("Member"))
        {
            navMenuType = "member";
        }
    }

    private void OnPageChanged(string pageName)
    {
        currentPage = pageName;
    }
}

<AuthChecker/>

<div class="page">
    <div class="sidebar">
        @if (navMenuType == "admin")
        {
            <AdminNavMenu PageChanged="OnPageChanged"/>
        }
        else if (navMenuType == "member")
        {
            <MemberNavMenu />
        }
    </div>
    <div class="main">
        <div class="top-row px-4">
            <span class="font-weight-bold my-auto">@currentPage</span>
            <a href="/auth/login"  class="ml-md-auto">Logout</a>
        </div>

        @Body

    </div>
</div>
