@using Blazor.Services
@inherits HRManager.Blazor.Pages.Account.Registration.AccountCredsBase


<h5>What email and password would you like to use?</h5>
<br/>
<EditForm id="1" Model="AccountData" OnValidSubmit="@GoToNextSection">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label for="email" class="form-label">Email:</label>
        <div>
            <SfTextBox ID="email" @bind-Value="AccountData.Email" />
            <ValidationMessage For="@(() =>AccountData.Email)" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="form-label">Password:</label>
        <div>
            <SfTextBox ID="password" Type="InputType.Password" @bind-Value="AccountData.Password" />
            <ValidationMessage For="@(() => AccountData.Password)" />
        </div>
    </div>
    <div class="form-group">
        <label for="confirm-password" class="form-label">Confirm Password:</label>
        <div>
            <SfTextBox ID="confirm-password" Type="InputType.Password" @bind-Value="AccountData.ConfirmPassword" />
            <ValidationMessage For="@(() => AccountData.ConfirmPassword)" />
        </div>
    </div>
</EditForm>

