@using Syncfusion.Blazor.Navigations
@inherits RegisterSectionBase

@code {
    [Parameter]
    public EventCallback<Dictionary<DayOfWeek, List<AvailabilityDto>>> AvailabilitiesDataChanged { get; set; }
    [Parameter]
    public Dictionary<DayOfWeek, List<AvailabilityDto>> AvailabilitiesData { get; set; }


    protected override void OnInitialized()
    {
        if (!AvailabilitiesData.Any())
        {
            foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
            {
                AvailabilitiesData.Add((DayOfWeek)day, new List<AvailabilityDto>());
            }
        }
    }

    protected override async Task GoToNextSection()
    {
        await AvailabilitiesDataChanged.InvokeAsync(AvailabilitiesData);
        await base.GoToNextSection();
    }

    protected override async Task HandlePreviousSectionRequested()
    {
        await AvailabilitiesDataChanged.InvokeAsync(AvailabilitiesData);
        await base.HandlePreviousSectionRequested();
    }

    protected override async Task HandleDifferentSectionRequested()
    {
        await AvailabilitiesDataChanged.InvokeAsync(AvailabilitiesData);
        await base.HandlePreviousSectionRequested();
    }
}

<h5>When are you able to volunteer with us?</h5>
<br />
<EditForm id="4" Model="AvailabilitiesData" OnValidSubmit="GoToNextSection">
    <DataAnnotationsValidator />
    <Availability @bind-AvailabilitiesData="AvailabilitiesData"/> 
</EditForm>
