@using Syncfusion.Blazor.Navigations
@inherits AvailabilityBase

@code {
    
}

<h5>When are you able to volunteer with us?</h5>
<br />
<EditForm id="4" Model="AvailabilitiesData" OnValidSubmit="GoToNextSection">
    <DataAnnotationsValidator />
    <AvailabilityEditor @bind-AvailabilitiesData="AvailabilitiesData"/> 
</EditForm>
