@inherits CertificatesBase
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Popups


<h5>Relevant certificates (optional)</h5>
<br />
<EditForm id="6" Model="CertData" OnValidSubmit="GoToNextSection">
    <div id="cert-container" class="d-flex flex-column">
        <div id="firstaid-container">
            <div class="checkbox-container">
                <SfCheckBox @bind-Checked="CertData.FirstAidCpr" />
                <label>First aid</label>
            </div>
            <div class="expiry-container mr-1">
                @if (CertData.FirstAidCpr)
                {
                    <label class="expiry-label">Expiry</label>
                    <SfDatePicker CssClass="expiry" @bind-Value="CertData.FirstAidCprExpiry" />
                }

            </div>
            <div class="level-container">
                @if (CertData.FirstAidCpr)
                {
                    <label>Level</label>
                    <SfTextBox @bind-Value="CertData.FirstAidCprLevel" />
                }
            </div>
        </div>
        <div id="foodsafe-container">
            <div class="checkbox-container">
                <SfCheckBox @bind-Checked="CertData.FoodSafe" />
                <label>Food safe</label>
            </div>
            <div class="expiry-container ">
                @if (CertData.FoodSafe)
                {
                    <label>Expiry:</label>
                    <SfDatePicker @bind-Value="CertData.FoodSafeExpiry" />
                }

            </div>
        </div>
        <div id="othercerts-container">
            <div class="expiry-container ">
                <label>Other certificates</label>
                <SfTextBox @bind-Value="CertData.OtherCertificates" Multiline="true" />
            </div>
        </div>
    </div>
</EditForm>
<hr />