@using Syncfusion.Blazor.Buttons
@using Services
@inherits PreferredPositionsBase

@switch (Type)
{
    case Register.RegistrationType.MemberSelf:
<h5>What volunteering positions interest you most?</h5>
        break;
    case Register.RegistrationType.MemberAdmin:
        <h5>Select the positions that the member will work</h5>
        break;
    default:
        break;
}
<br />
<EditForm id="3" Model="PositionSelection" OnSubmit="@GoToNextSection">
    <DataAnnotationsValidator />
</EditForm>

