@using Syncfusion.Blazor.Buttons
@using Services
@inherits PreferredPositionsBase

<h5>What volunteering positions interest you most?</h5>
<br/>
<EditForm id="3" Model="internalPositionsData" OnValidSubmit="GoToNextSection">
    <DataAnnotationsValidator />
    <div id="positions-container" class="d-flex">
        @if (positions.Any(p => p != null))
        {
            foreach (var position in positions)
            {
                <div class="position-container form-group col-4">
                    <SfCheckBox @bind-Checked="internalPositionsData[position.Id].PositionWasSelected" />
                    <label class="form-check-label">@position.Name</label>
                </div>
            }
        }
    </div>
</EditForm>

