@import url('font-awesome/css/all.min.css');

:root {
    --main-green: #74B62E;
    --second-green:#007800;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

body.modal-open {
    filter: opacity(25%);
}

#app {
    height: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.card, .btn, .form-control, .e-input-group, .e-input-group.e-control-wrapper, .e-btn {
    border-radius: 0px !important;
}

.navbar-toggler {
    background-color: transparent !important;
}

.btn-primary, .e-primary {
    color: #fff;
    background-color: var(--main-green);
    border: none;
    border-color: var(--main-green);
}

    .btn-primary:hover {
        color: #fff;
        background-color: var(--second-green);
        border-color: var(--second-green);
    }

    .btn-primary.focus, .btn-primary:focus {
        box-shadow: 0 0 0 .2rem rgba(116,182,46,.5);
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: var(--second-green);
        border-color: var(--second-green);
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: var(--second-green);
        border-color: var(--second-green);
    }

        .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(116,182,46,.5)
        }

.btn-outline-primary {
    color: var(--main-green);
    border-radius: 0px;
    background-color: rgba(0,0,0,0);
    border-color: var(--main-green);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--second-green);
    border-color: var(--second-green)
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(116,182,46,.5)
}

    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #fff;
        background-color: var(--second-green);
        border-color: var(--second-green);
    }

    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
        color: #fff;
        background-color: var(--second-green);
        border-color: var(--second-green);
    }

        .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 .2rem rgba(116,182,46,.5)
        }

.main-tab > a {
    color: var(--main-green);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
