#day-container[b-rtkfl0rgxc] {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

#btn-container[b-rtkfl0rgxc] {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
}

#btn-add[b-rtkfl0rgxc] {
    width: 100%;
}

#remove[b-rtkfl0rgxc] {
    cursor: pointer;
    grid-area: remove;
    display: flex;
    justify-content: center;
    align-items: center;
}