#day-container[b-rtkfl0rgxc] {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

#btn-container[b-rtkfl0rgxc] {
    display: grid;
    grid-template-areas: "add-btn spacer remove-btn";
    grid-template-columns: 3fr 1fr 3fr;
}

#add-btn[b-rtkfl0rgxc] {
    grid-area: add-btn;
}

#spacer[b-rtkfl0rgxc] {
    grid-area: spacer;
}

#remove-btn[b-rtkfl0rgxc] {
    grid-area: remove-btn;
}

.range-container[b-rtkfl0rgxc] {
    display: grid;
    grid-template-areas: "start divider end";
    grid-template-columns: 3fr 1fr 3fr;
}

#start[b-rtkfl0rgxc] {
    grid-area: start;
}

#end[b-rtkfl0rgxc] {
    grid-area: end;
}

#divider[b-rtkfl0rgxc] {
    grid-area: divider;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-btn[b-rtkfl0rgxc] {
    width: 100%;
}