#work-experience[b-lin6usk1ol] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "employer-name employer-address date" "current current current";
}

#employer-name[b-lin6usk1ol] {
    grid-area: employer-name;
}

#employer-address[b-lin6usk1ol] {
    grid-area: employer-address;
}

#date[b-lin6usk1ol] {
    grid-area: date;
}

#general-experience[b-lin6usk1ol] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "education skills" "experience boards";
}

#education[b-lin6usk1ol] {
    grid-area: education;
}

#skills[b-lin6usk1ol] {
    grid-area: skills;
}

#experience[b-lin6usk1ol] {
    grid-area: experience;
}

#boards[b-lin6usk1ol] {
    grid-area: boards;
}

#current[b-lin6usk1ol] {
    grid-area: current;
    height: auto;
    width: 100%;
    text-align: right;
}


