#day-container {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

#btn-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
}

#btn-add {
    width: 100%;
}

#remove {
    cursor: pointer;
    grid-area: remove;
    display: flex;
    justify-content: center;
    align-items: center;
}