#day-container {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

#btn-container {
    display: grid;
    grid-template-areas: "add-btn spacer remove-btn";
    grid-template-columns: 3fr 1fr 3fr;
}

#add-btn {
    grid-area: add-btn;
}

#spacer {
    grid-area: spacer;
}

#remove-btn {
    grid-area: remove-btn;
}

.range-container {
    display: grid;
    grid-template-areas: "start divider end";
    grid-template-columns: 3fr 1fr 3fr;
}

#start {
    grid-area: start;
}

#end {
    grid-area: end;
}

#divider {
    grid-area: divider;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-btn {
    width: 100%;
}