@using Syncfusion.Blazor.Navigations
@inherits RegisterSectionBase

@code {
    [Parameter]
    public EventCallback<AvailabilitiesData> AvailabilitiesDataChanged { get; set; }
    [Parameter]
    public AvailabilitiesData AvailabilitiesData { get; set; }


    protected override void OnInitialized()
    {
        if (!AvailabilitiesData.Availabilities.Any())
        {
            foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
            {
                AvailabilitiesData.Availabilities.Add((DayOfWeek)day, new List<AvailabilityDto>());
            }
        }
    }

    protected override async Task GoToNextSection()
    {
        await AvailabilitiesDataChanged.InvokeAsync(AvailabilitiesData);
        await base.GoToNextSection();
    }

    protected override async Task HandlePreviousSectionRequested()
    {
        await AvailabilitiesDataChanged.InvokeAsync(AvailabilitiesData);
        await base.HandlePreviousSectionRequested();
    }

    protected override async Task HandleDifferentSectionRequested()
    {
        await AvailabilitiesDataChanged.InvokeAsync(AvailabilitiesData);
        await base.HandlePreviousSectionRequested();
    }
}

<h5>When are you able to volunteer with us?</h5>
<br />
<EditForm Model="AvailabilitiesData" OnValidSubmit="GoToNextSection">
    <DataAnnotationsValidator />
    <SfTab>
        <TabItems>
            <TabItem>
                <HeaderTemplate>Monday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay @bind-Availabilities="AvailabilitiesData.Availabilities[DayOfWeek.Monday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Tuesday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay @bind-Availabilities="AvailabilitiesData.Availabilities[DayOfWeek.Tuesday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Wednesday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay @bind-Availabilities="AvailabilitiesData.Availabilities[DayOfWeek.Wednesday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Thursday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay @bind-Availabilities="AvailabilitiesData.Availabilities[DayOfWeek.Thursday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Friday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay @bind-Availabilities="AvailabilitiesData.Availabilities[DayOfWeek.Friday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Saturday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay @bind-Availabilities="AvailabilitiesData.Availabilities[DayOfWeek.Saturday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Sunday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay @bind-Availabilities="AvailabilitiesData.Availabilities[DayOfWeek.Sunday]" /></ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
    <RegisterSectionButtonContainer PreviousSectionRequested="HandlePreviousSectionRequested" Progress="4"/>
</EditForm>
