@using Syncfusion.Blazor.Navigations
@inherits RegisterSectionBase

@code {
    private AvailabilitiesData availData = new AvailabilitiesData() { Availabilities = new List<AvailabilityDto>() };
    private Dictionary<DayOfWeek, List<AvailabilityDto>> AllAvailabilities = new Dictionary<DayOfWeek, List<AvailabilityDto>>();

    protected override void OnInitialized()
    {
        foreach (var day in Enum.GetValues(typeof(DayOfWeek)))
        {
            AllAvailabilities.Add((DayOfWeek)day, new List<AvailabilityDto>());
        }
    }

    protected override async Task GoToNextSection()
    {
        data = availData;
        await base.GoToNextSection();
    }
}

<h5>When are you able to volunteer with us?</h5>
<br />
<EditForm Model="availData" OnValidSubmit="GoToNextSection">
    <DataAnnotationsValidator />
    <SfTab>
        <TabItems>
            <TabItem>
                <HeaderTemplate>Monday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay Availabilities="AllAvailabilities[DayOfWeek.Monday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Tuesday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay Availabilities="AllAvailabilities[DayOfWeek.Tuesday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Wednesday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay Availabilities="AllAvailabilities[DayOfWeek.Wednesday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Thursday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay Availabilities="AllAvailabilities[DayOfWeek.Thursday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Friday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay Availabilities="AllAvailabilities[DayOfWeek.Friday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Saturday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay Availabilities="AllAvailabilities[DayOfWeek.Saturday]" /></ContentTemplate>
            </TabItem>
            <TabItem>
                <HeaderTemplate>Sunday</HeaderTemplate>
                <ContentTemplate><AvailabilityDay Availabilities="AllAvailabilities[DayOfWeek.Sunday]" /></ContentTemplate>
            </TabItem>
        </TabItems>
    </SfTab>
    <RegisterSectionButtonContainer PreviousSectionRequested="HandlePreviousSectionRequested" />
</EditForm>
