@inherits RegisterSectionBase
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Popups
@using Radzen
@inject NavigationManager _nav

@code {
    [Parameter]
    public CertificatesData CertData { get; set; }
    [Parameter]
    public EventCallback<CertificatesData> CertDataChanged { get; set; }
    [Parameter]
    public EventCallback SubmitRegistration { get; set; }
    bool popUpVisible = false;

    protected override async Task GoToNextSection()
    {
        await CertDataChanged.InvokeAsync(CertData);
        await base.GoToNextSection();
    }

    private void OpenPopup()
    {
        popUpVisible = true;
    }

    private void ClosePopup()
    {
        popUpVisible = false;
    }

    protected override async Task HandlePreviousSectionRequested()
    {
        await CertDataChanged.InvokeAsync(CertData);
        await base.HandlePreviousSectionRequested();
    }

    protected override async Task HandleDifferentSectionRequested()
    {
        await CertDataChanged.InvokeAsync(CertData);
        await base.HandlePreviousSectionRequested();
    }

    bool showModal = false;

    void ModalShow() => showModal = true;
    void ModalCancel() => showModal = false;
}

<h5>Relevant Certificates (Optional)</h5>
<br />
<EditForm id="6" Model="CertData" OnValidSubmit="ModalShow">
    <div id="cert-container" class="d-flex flex-column">
        <div id="firstaid-container">
            <div class="checkbox-container">
                <SfCheckBox @bind-Checked="CertData.FirstAidCpr" />
                <label>First Aid</label>
            </div>
            <div class="expiry-container mr-1">
                @if (CertData.FirstAidCpr)
                {
                    <label class="expiry-label">Expiry:</label>
                    <SfDatePicker CssClass="expiry" @bind-Value="CertData.FirstAidCprExpiry" />
                }

            </div>
            <div class="level-container">
                @if (CertData.FirstAidCpr)
                {
                    <label>Level:</label>
                    <SfTextBox @bind-Value="CertData.FirstAidCprLevel" />
                }
            </div>
        </div>
        <div id="foodsafe-container">
            <div class="checkbox-container">
                <SfCheckBox @bind-Checked="CertData.FoodSafe" />
                <label>Food Safe</label>
            </div>
            <div class="expiry-container ">
                @if (CertData.FoodSafe)
                {
                    <label>Expiry:</label>
                    <SfDatePicker @bind-Value="CertData.FoodSafeExpiry" />
                }

            </div>
        </div>
        <div id="othercerts-container">
            <div class="expiry-container ">
                <label>Other Certificates:</label>
                <SfTextBox @bind-Value="CertData.OtherCertificates" Multiline="true" />
            </div>
        </div>
    </div>
</EditForm>

@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title">Submit Application</h5>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p>By continuing you confirm that all the information is correct.</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" @onclick="@ModalCancel">Back</button>
                    <button type="button" class="btn btn-primary" @onclick=@GoToNextSection>Continue</button>
                </div>

            </div>
        </div>
    </div>
}
<hr />