#form-container {
    display: grid;
    grid-template-areas:
        "first-name first-name last-name last-name birthdate birthdate"
        "address address city city postal-code postal-code"
        "main-phone main-phone alt-phone-1 alt-phone-1 alt-phone-2 alt-phone-2"
        "emergency-contact emergency-contact emergency-contact emergency-relationship emergency-relationship emergency-relationship"
        "emergency-phone-1 emergency-phone-1 emergency-phone-1 emergency-phone-2 emergency-phone-2 emergency-phone-2";
    grid-column-gap: 1rem;
    grid-row-gap: .5rem;
}

#first-name {
    grid-area: first-name;
}

#last-name {
    grid-area: last-name;
}

#address {
    grid-area: address;
}

#city {
    grid-area: city;
}

#postal-code {
    grid-area: postal-code;
}

#main-phone {
    grid-area: main-phone;
}

#alt-phone-1 {
    grid-area: alt-phone-1;
}

#alt-phone-2 {
    grid-area: alt-phone-2;
}

#birthdate {
    grid-area: birthdate;
}

#emergency-contact {
    grid-area: emergency-contact;
}

#emergency-relationship {
    grid-area: emergency-relationship;
}

#emergency-phone-1 {
    grid-area: emergency-phone-1;
}

#emergency-phone-2 {
    grid-area: emergency-phone-2;
}

