@using Syncfusion.Blazor.Buttons
@using Services
@inherits RegisterSectionBase
@inject PositionsService _posService

@code {

    [Parameter]
    public EventCallback<Dictionary<int, PositonSelection>> PositionsDataChanged { get; set; }
    [Parameter]
    public Dictionary<int, PositonSelection> PositionsData { get; set; }

    private List<Position> positions = new List<Position>();

    protected override async Task OnInitializedAsync()
    {
        positions = await _posService.GetPositions();

        if (!PositionsData.Any())
        {
            foreach (var position in positions)
            {
                if (position != null)
                {
                    PositionsData.Add(position.Id, new PositonSelection() { PositionWasSelected = false });
                }
            }
        }
    }

    protected override async Task GoToNextSection()
    {
        await PositionsDataChanged.InvokeAsync(PositionsData);
        await base.GoToNextSection();
    }

    protected override async Task HandlePreviousSectionRequested()
    {
        await PositionsDataChanged.InvokeAsync(PositionsData);
        await base.HandlePreviousSectionRequested();
    }

    protected override async Task HandleDifferentSectionRequested()
    {
        await PositionsDataChanged.InvokeAsync(PositionsData);
        await base.HandlePreviousSectionRequested();
    }
}

<h5>What volunteering positions interest you most?</h5>
<br/>
<EditForm id="3" Model="PositionsData" OnValidSubmit="GoToNextSection">
    <DataAnnotationsValidator />
    <div id="positions-container" class="d-flex">
        @if (positions.Any(p => p != null))
        {
            foreach (var position in positions)
            {
                { var pos = position; }
                <div class="position-container form-group col-4">
                    <SfCheckBox @bind-Checked="PositionsData[position.Id].PositionWasSelected" />
                    <label class="form-check-label">@position.Name</label>
                </div>
            }
        }
    </div>
</EditForm>

