@using Syncfusion.Blazor.ProgressBar 

@code {
    [Parameter]
    public EventCallback<string> PreviousSectionRequested { get; set; }
    [Parameter]
    public int Progress { get; set; }

    private async Task GoToPreviousSection()
    {
        await PreviousSectionRequested.InvokeAsync();
    }
}

<br />
<div class="btn-container">
    <button id="back-btn" type="button" @onclick="GoToPreviousSection" class="btn btn-dark">Previous</button>
    <SfProgressBar Type="ProgressType.Linear" Value="@Progress" SegmentCount="6" Minimum="0" Maximum="6" TrackColor="#D5E9C0" ProgressColor="#74B62E" Height="3rem" />
    <button id="next-btn" type="submit" class="btn btn-primary">Next</button>
</div>
