#form-container[b-a3hryydj8v] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "first-name first-name last-name last-name birthdate birthdate"
        "address address city city postal-code postal-code"
        "main-phone main-phone alt-phone-1 alt-phone-1 alt-phone-2 alt-phone-2"
        "emergency-contact emergency-contact emergency-contact emergency-relationship emergency-relationship emergency-relationship"
        "emergency-phone-1 emergency-phone-1 emergency-phone-1 emergency-phone-2 emergency-phone-2 emergency-phone-2";
    grid-column-gap: 1rem;
    grid-row-gap: .5rem;
}

#first-name[b-a3hryydj8v] {
    grid-area: first-name;
}

#last-name[b-a3hryydj8v] {
    grid-area: last-name;
}

#address[b-a3hryydj8v] {
    grid-area: address;
}

#city[b-a3hryydj8v] {
    grid-area: city;
}

#postal-code[b-a3hryydj8v] {
    grid-area: postal-code;
}

#main-phone[b-a3hryydj8v] {
    grid-area: main-phone;
}

#alt-phone-1[b-a3hryydj8v] {
    grid-area: alt-phone-1;
}

#alt-phone-2[b-a3hryydj8v] {
    grid-area: alt-phone-2;
}

#birthdate[b-a3hryydj8v] {
    grid-area: birthdate;
}

#emergency-contact[b-a3hryydj8v] {
    grid-area: emergency-contact;
}

#emergency-relationship[b-a3hryydj8v] {
    grid-area: emergency-relationship;
}

#emergency-phone-1[b-a3hryydj8v] {
    grid-area: emergency-phone-1;
}

#emergency-phone-2[b-a3hryydj8v] {
    grid-area: emergency-phone-2;
}

