@namespace HRManager.Blazor.Pages.Shared.PageMenus

    <div class="d-flex align-items-center">
        <button class="btn btn-primary">Add shift</button>
    </div>

<form action="account/logout" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>



