@namespace HRManager.Blazor.Pages.Shared.PageMenus

<div class="d-flex align-items-center">
    <input type="checkbox" id="team-switch" checked>
</div>

<form action="account/logout" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>