@page "/admin/calendar"

@using Syncfusion.Blazor.Schedule
@using Common.Dtos 

@if (!string.IsNullOrEmpty(error))
{
    <p>@error</p>
}

<div id="schedule-container">
    <SfSchedule TValue="ShiftReadEditDto">
        <ScheduleEventSettings TValue="ShiftReadEditDto" DataSource="shifts" AllowAdding="true" AllowEditing="true" AllowDeleting="true" AllowEditFollowingEvents="true"/>
        <ScheduleEvents TValue="ShiftReadEditDto" ActionCompleted="OnActionCompleted" OnActionBegin="OnActionBegin" />
    </SfSchedule>
</div>
