@page "/admin/members"
@using HRManager.Common
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "SuperAdmin, Admin")]
@inject HttpClient _http

@code {
    private UserProfile[] users;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            users = await _http.GetFromJsonAsync<UserProfile[]>("test/users");
        }
    }
}

<h3>Team</h3>

<AuthorizeView>
    <Authorized>
        @if (users == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Temp. (C)</th>
                        <th>Temp. (F)</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in users)
                    {
                        <tr>
                            <td>@user.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </Authorized>
    <NotAuthorized>
        Sorry, you are not authorized to see this content... scrub.
    </NotAuthorized>
</AuthorizeView>

