@page "/admin/members"
@using HRManager.Common
@using Shared
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Navigations
@using Blazorise
@attribute [Authorize(Roles = "SuperAdmin, Admin")]

<AuthorizeView>
    <Authorized>
        @if (!string.IsNullOrEmpty(error))
        {
            <p>@error</p>
        }
        else
        {
            <SfGrid TValue="MemberAdminReadEditDto"
                    DataSource="members"
                    AllowFiltering="true"
                    AllowGrouping="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    AllowExcelExport="true"
                    AllowMultiSorting="true"
                    AllowSelection="true"
                    AllowPdfExport="true">
                <GridEditSettings AllowEditing="true" AllowAdding="true" Mode="EditMode.Dialog">
                    <Template Context="editContext">
                        @{
                            var member = (editContext as MemberAdminReadEditDto);
                        }
                        <GridEditTemplate @ref="editTemplate" @bind-Member="member" Positions="positions" />
                    </Template>
                </GridEditSettings>
                <GridTemplates>
                    <DetailTemplate Context="detailContext">
                        @{
                            var member = (detailContext as MemberAdminReadEditDto);
                            var tabNames = new string[]
                            {
                            "personal," + member.Id,
                            "avail," + member.Id,
                            "positions," + member.Id,
                            "qual," + member.Id,
                            "cert," + member.Id,
                            "check," + member.Id,
                            };
                        }
                        <GridReadTemplate Member="member" />
                    </DetailTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn Field="Id" HeaderText="ID" TextAlign="TextAlign.Center" IsPrimaryKey="true" />
                    <GridColumn Field="FirstName" HeaderText="First Name" TextAlign="TextAlign.Center" />
                    <GridColumn Field="LastName" HeaderText="Last Name" TextAlign="TextAlign.Center" />
                    <GridColumn Field="Email" HeaderText="Email" TextAlign="TextAlign.Center" />
                    <GridColumn Field="MainPhone" HeaderText="Phone" TextAlign="TextAlign.Center" />
                    <GridColumn Field="ApprovalStatus" HeaderText="Status" TextAlign="TextAlign.Center" />
                </GridColumns>
                <GridEvents TValue="MemberAdminReadEditDto" OnActionBegin="BeginActionHandler" />
            </SfGrid>
        }
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

