@page "/admin/members"
@using HRManager.Common
@using Shared
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Navigations
@using Blazorise
@using HRManager.Blazor.Pages.Shared.PageMenus
@inherits TeamsBase

<AuthorizeView>
    <Authorized>
        <div class="menu">
            <TeamsMenu />
        </div>
        @if (errors.Any())
        {
            foreach (string error in errors)
            {
                <p>@error</p>
            }
        }
        else
        {
            <SfGrid TValue="AdminMemberDto"
                    DataSource="members"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    AllowExcelExport="true"
                    AllowMultiSorting="true"
                    AllowSelection="true"
                    AllowPdfExport="true">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridEditSettings AllowEditing="true" AllowAdding="true" Mode="EditMode.Dialog">
                    <Template Context="editContext">
                        @{
                            var member = (editContext as AdminMemberDto);
                        }
                        <MemberGridEditTemplate @ref="editTemplate" @bind-SelectedMember="member" Positions="positions" />
                    </Template>
                </GridEditSettings>
                <GridTemplates>
                    <DetailTemplate Context="detailContext">
                        @{
                            var member = (detailContext as AdminMemberDto);
                            var tabNames = new string[]
                            {
                            "personal," + member.Id,
                            "avail," + member.Id,
                            "positions," + member.Id,
                            "qual," + member.Id,
                            "cert," + member.Id,
                            "check," + member.Id,
                            };
                        }
                        <MemberGridReadTemplate SelectedMember="member" />
                    </DetailTemplate>
                </GridTemplates>
                <GridColumns>
                    <GridColumn Field="FirstName" HeaderText="First Name" TextAlign="TextAlign.Center" />
                    <GridColumn Field="LastName" HeaderText="Last Name" TextAlign="TextAlign.Center" />
                    <GridColumn Field="Email" HeaderText="Email" TextAlign="TextAlign.Center" />
                    <GridColumn Field="MainPhone" HeaderText="Phone" TextAlign="TextAlign.Center" />
                    <GridColumn Field="ApprovalStatus" HeaderText="Status" TextAlign="TextAlign.Center" />
                </GridColumns>
                <GridEvents TValue="AdminMemberDto" OnActionBegin="BeginActionHandler" />
            </SfGrid>
        }
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

