@page "/admin/timesheet"
@using HRManager.Common
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Syncfusion.Blazor.Grids
@using HRManager.Blazor.Pages.Shared
@using HRManager.Blazor.Pages.Shared.PageMenus
@inherits TimesheetBase


<AuthorizeView>
    <Authorized>
        @if (pageErrors.Any())
        {
            foreach (string error in pageErrors)
            {
                <p>@error</p>
            }
        }
        else
        {
            <div class="menu">
                <TimesheetMenu AddEntryClicked="ShowAddEntryModal"
                               ClockInClicked="ShowClockInModal"
                               GetCurrentClicked="GetCurrent"
                               GetArchivedClicked="GetArchived" />
            </div>
            <SfGrid TValue="TimeEntryReadEditDto"
                    DataSource="timeEntries"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    AllowExcelExport="true"
                    AllowMultiSorting="true"
                    AllowSelection="true"
                    AllowPdfExport="true">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridEditSettings AllowEditing="true" AllowAdding="true" Mode="EditMode.Dialog"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field="Member.FullName" HeaderText="Worked by" TextAlign="TextAlign.Center" />
                    <GridColumn Field="Position.Name" HeaderText="Position worked" TextAlign="TextAlign.Center" />
                    <GridColumn Field="StartTime" HeaderText="Start time" Type="ColumnType.DateTime" TextAlign="TextAlign.Center" />
                    @if (!current)
                    {
                        <GridColumn Field="EndTime" HeaderText="End time" Type="ColumnType.DateTime" TextAlign="TextAlign.Center" />
                    }
                </GridColumns>
                <GridEvents TValue="TimeEntryReadEditDto" OnActionBegin="BeginActionHandler" />
            </SfGrid>
        }
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>
