/* _content/HRManager.Blazor/Pages/Account/AuthLayout.razor.rz.scp.css */
#page-container[b-zmrq1ypuhk] {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-green);
}

#card-container[b-zmrq1ypuhk] {
    width: 40%;
    margin: auto;
    box-shadow: 0px 0px 5px 2px lightgrey;
}

[b-zmrq1ypuhk] #controls-container {
    display: grid;
    grid-template-areas: "img-container form-container";
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

[b-zmrq1ypuhk] #img-container {
    grid-area: img-container;
    display: flex;
    align-items: center;
}

    [b-zmrq1ypuhk] #img-container > img {
        height: auto;
        width: 100%;
        object-fit: cover;
    }

[b-zmrq1ypuhk] #form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 1.5rem;
    grid-area: form-container;
    border-left: 1px solid #d3d3d3;
}

[b-zmrq1ypuhk] #greeting-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;
    width: 50%;
}

.btn[b-zmrq1ypuhk] {
    width: 100%;
}

[b-zmrq1ypuhk] #btn-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

[b-zmrq1ypuhk] #forgot-link {
    font-size: 12px;
}
/* _content/HRManager.Blazor/Pages/Account/Register.razor.rz.scp.css */
#register-form[b-pg4w4jd0hl] {
    width: auto;
    margin: auto;
    box-shadow: 0px 0px 4px 1px gray;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#img-container[b-pg4w4jd0hl] {
    height: 5rem;
    grid-area: img-container;
    display: flex;
    align-items: center;
}

    #img-container > img[b-pg4w4jd0hl] {
        margin-left: auto;
        margin-right: auto;
        height: 100%;
        width: auto;
        object-fit: cover;
    }

#register-container[b-pg4w4jd0hl] {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    grid-area: form-container;
    border-left: 1px solid #d3d3d3;
}

.btn[b-pg4w4jd0hl] {
    width: 100%;
}

#btn-container[b-pg4w4jd0hl] {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#forgot-link[b-pg4w4jd0hl] {
    font-size: 12px;
}
/* _content/HRManager.Blazor/Pages/Account/Registration/Certificates.razor.rz.scp.css */
#cert-container[b-kbisjezppt] {
    gap: 1rem;
}

#firstaid-container[b-kbisjezppt] {
    display: grid;
    grid-template-columns: 7rem 10rem 10rem;
    grid-column-gap: 1rem;
    grid-template-areas: "checkbox expiry level";
}

.checkbox-container[b-kbisjezppt] {
    align-items: center;
    grid-area: checkbox;
}

.main-label[b-kbisjezppt] {
    grid-area: main-label;
}

.expiry-container[b-kbisjezppt] {
    grid-area: expiry;
}

.level-container[b-kbisjezppt] {
    grid-area: level;
}


#foodsafe-container[b-kbisjezppt] {
    width: 100%;
    display: grid;
    grid-template-columns: 7rem 10rem 10rem;
    grid-column-gap: 1rem;
    grid-template-areas: "checkbox expiry expiry";
}

.checkbox-container[b-kbisjezppt] {
    align-items: center;
    grid-area: checkbox;
}

.main-label[b-kbisjezppt] {
    grid-area: main-label;
}

.expiry-container[b-kbisjezppt] {
    width: 100%;
    grid-area: expiry;
}

.level-container[b-kbisjezppt] {
    grid-area: level;
}
/* _content/HRManager.Blazor/Pages/Account/Registration/PersonalAndContact.razor.rz.scp.css */
#form-container[b-a3hryydj8v] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "first-name first-name last-name last-name birthdate birthdate"
        "address address city city postal-code postal-code"
        "main-phone main-phone alt-phone-1 alt-phone-1 alt-phone-2 alt-phone-2"
        "emergency-contact emergency-contact emergency-contact emergency-relationship emergency-relationship emergency-relationship"
        "emergency-phone-1 emergency-phone-1 emergency-phone-1 emergency-phone-2 emergency-phone-2 emergency-phone-2";
    grid-column-gap: 1rem;
    grid-row-gap: .5rem;
}

#first-name[b-a3hryydj8v] {
    grid-area: first-name;
}

#last-name[b-a3hryydj8v] {
    grid-area: last-name;
}

#address[b-a3hryydj8v] {
    grid-area: address;
}

#city[b-a3hryydj8v] {
    grid-area: city;
}

#postal-code[b-a3hryydj8v] {
    grid-area: postal-code;
}

#main-phone[b-a3hryydj8v] {
    grid-area: main-phone;
}

#alt-phone-1[b-a3hryydj8v] {
    grid-area: alt-phone-1;
}

#alt-phone-2[b-a3hryydj8v] {
    grid-area: alt-phone-2;
}

#birthdate[b-a3hryydj8v] {
    grid-area: birthdate;
}

#emergency-contact[b-a3hryydj8v] {
    grid-area: emergency-contact;
}

#emergency-relationship[b-a3hryydj8v] {
    grid-area: emergency-relationship;
}

#emergency-phone-1[b-a3hryydj8v] {
    grid-area: emergency-phone-1;
}

#emergency-phone-2[b-a3hryydj8v] {
    grid-area: emergency-phone-2;
}

/* _content/HRManager.Blazor/Pages/Account/Registration/PreferredPositions.razor.rz.scp.css */
#positions-container[b-i1m8hgt6ua] {
    display: flex;
    flex-wrap: wrap   
}
/* _content/HRManager.Blazor/Pages/Account/Registration/Qualifications.razor.rz.scp.css */
#work-experience[b-5z5b513j2u] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "employer-name employer-address date" "current current current";
}

#employer-name[b-5z5b513j2u] {
    grid-area: employer-name;
}

#employer-address[b-5z5b513j2u] {
    grid-area: employer-address;
}

#date[b-5z5b513j2u] {
    grid-area: date;
}

#general-experience[b-5z5b513j2u] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "education skills" "experience boards";
}

#education[b-5z5b513j2u] {
    grid-area: education;
}

#skills[b-5z5b513j2u] {
    grid-area: skills;
}

#experience[b-5z5b513j2u] {
    grid-area: experience;
}

#boards[b-5z5b513j2u] {
    grid-area: boards;
}

#current[b-5z5b513j2u] {
    grid-area: current;
    height: auto;
    width: 100%;
    text-align: right;
}


/* _content/HRManager.Blazor/Pages/Account/Registration/RegisterSectionButtonContainer.razor.rz.scp.css */
.btn-container[b-pf1xp863fm] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* _content/HRManager.Blazor/Pages/Account/Registration/Result.razor.rz.scp.css */
/* _content/HRManager.Blazor/Pages/Admin/Calendar.razor.rz.scp.css */
#schedule-container[b-v9rxn3epto]{
    overflow: scroll;
    height: 94vh;
}
/* _content/HRManager.Blazor/Pages/Admin/MemberGridEditTemplate.razor.rz.scp.css */
/*Personal and Contact*/
#form-container[b-0k30tqvsz4] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "first-name first-name first-name first-name last-name last-name last-name last-name birthdate birthdate birthdate birthdate" "address address address address city city city city postal-code postal-code postal-code postal-code" "email email email main-phone main-phone main-phone alt-phone-1 alt-phone-1 alt-phone-1 alt-phone-2 alt-phone-2 alt-phone-2" "emergency-contact emergency-contact emergency-contact emergency-contact emergency-contact emergency-contact emergency-relationship emergency-relationship emergency-relationship emergency-relationship emergency-relationship emergency-relationship" "emergency-phone-1 emergency-phone-1 emergency-phone-1 emergency-phone-1 emergency-phone-1 emergency-phone-1 emergency-phone-2 emergency-phone-2 emergency-phone-2 emergency-phone-2 emergency-phone-2 emergency-phone-2";
    grid-column-gap: 1rem;
    grid-row-gap: .5rem;
}

#email[b-0k30tqvsz4] {
    grid-area: email;
}

#first-name[b-0k30tqvsz4] {
    grid-area: first-name;
}

#last-name[b-0k30tqvsz4] {
    grid-area: last-name;
}

#address[b-0k30tqvsz4] {
    grid-area: address;
}

#city[b-0k30tqvsz4] {
    grid-area: city;
}

#postal-code[b-0k30tqvsz4] {
    grid-area: postal-code;
}

#main-phone[b-0k30tqvsz4] {
    grid-area: main-phone;
}

#alt-phone-1[b-0k30tqvsz4] {
    grid-area: alt-phone-1;
}

#alt-phone-2[b-0k30tqvsz4] {
    grid-area: alt-phone-2;
}

#birthdate[b-0k30tqvsz4] {
    grid-area: birthdate;
}

#emergency-contact[b-0k30tqvsz4] {
    grid-area: emergency-contact;
}

#emergency-relationship[b-0k30tqvsz4] {
    grid-area: emergency-relationship;
}

#emergency-phone-1[b-0k30tqvsz4] {
    grid-area: emergency-phone-1;
}

#emergency-phone-2[b-0k30tqvsz4] {
    grid-area: emergency-phone-2;
}

/*Qualifications*/
#work-experience[b-0k30tqvsz4] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "employer-name employer-address date" "current current current";
}

#employer-name[b-0k30tqvsz4] {
    grid-area: employer-name;
}

#employer-address[b-0k30tqvsz4] {
    grid-area: employer-address;
}

#date[b-0k30tqvsz4] {
    grid-area: date;
}

#general-experience[b-0k30tqvsz4] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-areas: "education skills" "experience boards";
}

#education[b-0k30tqvsz4] {
    grid-area: education;
}

#skills[b-0k30tqvsz4] {
    grid-area: skills;
}

#experience[b-0k30tqvsz4] {
    grid-area: experience;
}

#boards[b-0k30tqvsz4] {
    grid-area: boards;
}

#current[b-0k30tqvsz4] {
    grid-area: current;
    height: auto;
    width: 100%;
    text-align: right;
}

/*Certificates*/
#cert-container[b-0k30tqvsz4] {
    gap: 1rem;
}

#firstaid-container[b-0k30tqvsz4] {
    display: grid;
    grid-template-columns: 7rem 10rem 10rem;
    grid-column-gap: 1rem;
    grid-template-areas: "checkbox expiry level";
}

.checkbox-container[b-0k30tqvsz4] {
    align-items: center;
    grid-area: checkbox;
}

.main-label[b-0k30tqvsz4] {
    grid-area: main-label;
}

.expiry-container[b-0k30tqvsz4] {
    grid-area: expiry;
}

.level-container[b-0k30tqvsz4] {
    grid-area: level;
}


#foodsafe-container[b-0k30tqvsz4] {
    width: 100%;
    display: grid;
    grid-template-columns: 7rem 10rem 10rem;
    grid-column-gap: 1rem;
    grid-template-areas: "checkbox expiry expiry";
}

.checkbox-container[b-0k30tqvsz4] {
    align-items: center;
    grid-area: checkbox;
}

.main-label[b-0k30tqvsz4] {
    grid-area: main-label;
}

.expiry-container[b-0k30tqvsz4] {
    width: 100%;
    grid-area: expiry;
}

.level-container[b-0k30tqvsz4] {
    grid-area: level;
}

/* _content/HRManager.Blazor/Pages/Admin/MemberGridReadTemplate.razor.rz.scp.css */
.personal-container[b-rn5el0j5r4] {
    display: flex;
    padding: 3rem;
    gap: 4rem;
    justify-content: start;
}

    .personal-container > div[b-rn5el0j5r4] {
        display: flex;
        gap: 1rem;
    }

        .personal-container > div > div[b-rn5el0j5r4] {
            display: flex;
            flex-direction: column;
            width: auto;
            gap: 1rem;
        }

.qualifications-container[b-rn5el0j5r4] {
    display: flex;
    padding: 3rem;
    gap: 3.5rem;
    justify-content: start;
}

    .qualifications-container > div[b-rn5el0j5r4] {
        display: flex;
        width: auto;
        flex-direction: column;
        gap: 1rem;
    }

        .qualifications-container > div > div[b-rn5el0j5r4] {
            display: flex;
            gap: 2.5rem;
        }

            .qualifications-container > div > div > div[b-rn5el0j5r4] {
                display: flex;
                flex-direction: column;
                width: auto;
                gap: 1rem;
            }

.general-experience-content[b-rn5el0j5r4] {
    width: 66%;
}

.general-experience-column[b-rn5el0j5r4] {
    width: 50%;
}


.cert-container[b-rn5el0j5r4] {
    display: flex;
    padding: 3rem;
    gap: 4rem;
    justify-content: start;
}

    .cert-container > div[b-rn5el0j5r4] {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

        .cert-container > div > div[b-rn5el0j5r4] {
            display: flex;
            gap: 2rem;
            width: auto;
        }

    .cert-container .other-container[b-rn5el0j5r4] {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
/* _content/HRManager.Blazor/Pages/Admin/Teams.razor.rz.scp.css */
/* _content/HRManager.Blazor/Shared/AdminNavMenu.razor.rz.scp.css */
.fa[b-xf9xl9w4qg] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-xf9xl9w4qg] {
    font-size: 0.9rem;
}

    .nav-item:first-of-type[b-xf9xl9w4qg] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-xf9xl9w4qg] {
        padding-bottom: 1rem;
    }

    .nav-item[b-xf9xl9w4qg]  a {
        color: #d7d7d7;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-xf9xl9w4qg]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-xf9xl9w4qg]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-xf9xl9w4qg] {
        display: none;
    }

    .collapse[b-xf9xl9w4qg] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/HRManager.Blazor/Shared/AvailabilityDay.razor.rz.scp.css */
#day-container[b-kob16tfzdg] {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

#btn-container[b-kob16tfzdg] {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
}

#btn-add[b-kob16tfzdg] {
    width: 100%;
}

#remove[b-kob16tfzdg] {
    cursor: pointer;
    grid-area: remove;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* _content/HRManager.Blazor/Shared/MainLayout.razor.rz.scp.css */
.page[b-ljcv0tknf5] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-ljcv0tknf5] {
    flex: 1;
}

.sidebar[b-ljcv0tknf5] {
    background-color: #74B62E;
}

.top-row[b-ljcv0tknf5] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ljcv0tknf5]  a, .top-row .btn-link[b-ljcv0tknf5] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ljcv0tknf5] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

[b-ljcv0tknf5] .menu {
    padding: 0 1rem;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background-color: #f1f1e8;
}

[b-ljcv0tknf5] .mainpage-title {
    display: flex;
    justify-content: end;
    align-content:center;
    height: 8rem;
    position: relative;
    margin-bottom: .5rem;
}

    [b-ljcv0tknf5] .mainpage-title > a {
        display: flex;
        justify-content: center;
        align-content: start;
        width: 100%;
        height: 100%;
        margin: 1rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid #d7d7d7;
    }

        [b-ljcv0tknf5] .mainpage-title > a > img {
            height: 100%;
        }

    [b-ljcv0tknf5] .mainpage-title > button {
        text-align: right;
        z-index: 1;
        width: auto;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
    }

    [b-ljcv0tknf5] .mainpage-title > button > i {
        color: white;
    }

@media (min-width: 641px) {
    .page[b-ljcv0tknf5] {
        flex-direction: row;
    }

    .sidebar[b-ljcv0tknf5] {
        width: 12rem;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ljcv0tknf5] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-ljcv0tknf5] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/HRManager.Blazor/Shared/MemberNavMenu.razor.rz.scp.css */
.fa[b-g8qsd4ocdo] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-g8qsd4ocdo] {
    font-size: 0.9rem;
}

    .nav-item:first-of-type[b-g8qsd4ocdo] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-g8qsd4ocdo] {
        padding-bottom: 1rem;
    }

    .nav-item[b-g8qsd4ocdo]  a {
        color: #d7d7d7;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-g8qsd4ocdo]  a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item[b-g8qsd4ocdo]  a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-g8qsd4ocdo] {
        display: none;
    }

    .collapse[b-g8qsd4ocdo] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* _content/HRManager.Blazor/Shared/SfTimeRangePicker.razor.rz.scp.css */
#range-container[b-1vxdimv5x7] {
    /*    display: grid;
    grid-template-areas: "start divider end remove";
    grid-template-columns: 3fr .5fr 3fr .5fr;
    width: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/*#start {
    grid-area: start;
}

#end {
    grid-area: end;
}*/

#divider[b-1vxdimv5x7] {
    /*grid-area: divider;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/* _content/HRManager.Blazor/Shared/Tooltip.razor.rz.scp.css */
.tooltip-wrapper[b-dxkjfv48p0] {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    cursor: help;
}

span[b-dxkjfv48p0] {
    visibility: hidden;
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    background-color: #363636;
    color: #fff;
    font-size: .7rem;
    padding: .5rem;
    border-radius: 6px;
    z-index: 1;
}

    span[b-dxkjfv48p0]::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

.tooltip-wrapper:hover span[b-dxkjfv48p0] {
    visibility: visible;
}
