@using Syncfusion.Blazor.DropDowns
@using HRManager.Blazor.Shared
@inherits PositionPickerBase<MemberEditDto>

<div class="d-flex p-3">
    <div class="d-flex flex-column mr-2">
        <label><strong>Preferred Positions</strong></label>
        <SfMultiSelect Mode="VisualMode.Box" @bind-Value="preferredPositions" DataSource="Positions">
            <MultiSelectFieldSettings Text="Name" Value="Name" />
        </SfMultiSelect>
    </div>
</div>